h2 {
  margin: 0;
}

.header {
  height: 100vh;

  &__container {
    padding-top: 15px;
    padding-bottom: 10px;
    @include contentPaddingInline;

    @include onTablet {
      padding-top: 30px;
      padding-bottom: 50px;
    }

    @include onDesktop {
      padding-top: 20px;
      padding-bottom: 78px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: end;
  }

  &__logo {
    text-decoration: none;
    font-family: $font-bebas;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0.06em;
    color: $c-grey;
    text-align: center;
  }

  &__content {
    @include onTablet {
      @include pageGrid;
    }
    @include contentPaddingInline;
    position: relative;
  }

  &__rect {
    @include onTablet {
      position: fixed;
      top: 0;
      right: 0;
      z-index: -2;
      background-image: url(../images/tablet/Rectangle.png);
      background-repeat: no-repeat;
      height: 466px;
      width: 100%;
      grid-column: span 5;
    }
  }

  &__title {
    margin-bottom: 30px;
    grid-column: span 2;
    box-sizing: border-box;
    font-family: $font-bebas;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.15em;
    -webkit-text-stroke: 0.7px $c-turquoise;
    color: transparent;

    // text-shadow:
    //   0.68px 0.68px 0 #03839e,
    //   -0.68px -0.68px 0 #03839e,
    //   0.68px -0.68px 0 #03839e,
    //   -0.68px 0.68px 0 #03839e,
    //   0.68px 0.68px 0 #03839e;

    &--solid {
      color: $c-turquoise;
    }

    @include onTablet {
      margin: 0;
      font-size: 64px;
      line-height: 64px;
      z-index: 1;
      box-sizing: border-box;
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: span 4;
    }
  }

  &__image {
    padding-bottom: 25px;
    width: 100%;
    grid-column: 1 / -1;

    @include onTablet {
      position: absolute;
      right: 34px;
      top: 128px;
      z-index: -1;
      padding-bottom: 0;
      height: 306px;
      width: 306px;
    }

    @include onDesktop {
      display: flex;
      justify-self: flex-end;
      height: 500px;
      width: 500px;
    }
  }

  &__price {
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    color: $c-grey;

    @include onTablet {
      margin-top: -20px;
      grid-column: 3;
      grid-row: 2;
    }
  }

  &__text {
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 21px;

    @include onTablet {
      margin-top: -20px;
      grid-column: 3;
      margin-bottom: 50px;
      display: flex;
      white-space: nowrap;
    }
  }

  &__buy-now-button {
    padding-right: 24px;
    color: $c-black;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    max-width: 260px;
    height: 48px;
    font-weight: 600;
    background-color: $c-yellow;
    border: none;

    @include onTablet {
      grid-column: 2 / 4;
      grid-row: 4;
    }
  }

  // &__side {
    // @include onTablet {
    //   position: absolute;
    //   top: 450px;
    //   left: 34px;
    //   transform-origin: 100% 0;
    // }
  // }

  &__side-link {
    position: absolute;
    bottom: 35px;
    right: 5px;
    transform: rotate(90deg);
    transform-origin: 100% 0;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: $c-turquoise;

    // @include onTablet {
    //   position: absolute;
    //   top: 450px;
    //   left: 34px;
    //   transform-origin: 100% 0;
    // }
  }

  &__side-arrow {
    position: absolute;
    bottom: 0;
    right: 7px;
    background-image: url(../images/mobile/Arrow.png);
    background-repeat: no-repeat;
    width: 10px;
    height: 44px;
  }
}
