.materials {
  position: relative;
  margin-top: 180px;

  &__description {
    @include onTablet {
      margin-top: -50px;
      @include pageGrid;
      grid-column: 1 /-1;
    }

    @include onDesktop {
      margin-top: -170px;
    }
  }

  &__title {
    font-family: $font-bebas;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: 0.15em;
    color: $c-turquoise;

    @include onTablet {
      font-size: 80px;
      line-height: 96px;
      letter-spacing: 0.12em;
    }

    @include onDesktop {
      font-size: 138px;
      line-height: 166px;
    }
  }

  &__subtitle {
    display: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    @include onTablet {
      display: block;
      grid-column: 4 / -1;
    }

    @include onDesktop {
      grid-column: 8 / 11;
    }
  }

  &__text {
    display: none;

    @include onTablet {
      display: block;
      margin-top: 10px;
      grid-column: 4 / -1;
    }

    @include onDesktop {
      margin-top: 15px;
      grid-column: 8 / -1;
    }
  }

  &__right-side-decor-text {
    @include onTablet {
      top: 0;
      right: -24px;
    }

    @include onDesktop {
     display: none;
    }
  }

  &__left-side-decor-text {
    @include onTablet {
      top: 230px;
      left: -24px;
    }

    @include onDesktop {
      display: none;
    }
  }

  &__photo {
    position: relative;
    margin-top: -76px;
    z-index: -1;
    width: calc(100% + 2 * $padding-inline-mobile);
    margin-left: -$padding-inline-mobile;
    margin-right: -$padding-inline-mobile;

    @include onTablet {
      width: calc(100% + 2 * $padding-inline-tablet);
      margin-left: -$padding-inline-tablet;
      margin-right: -$padding-inline-tablet;
    }

    @include onDesktop {
      width: calc(100% + 2 * $padding-inline-desktop);
      margin-left: -$padding-inline-desktop;
      margin-right: -$padding-inline-desktop;
      margin-top: -180px;
    }
  }
}
