.menu {
  box-sizing: border-box;
  padding: 15px 30px 10px;
  height: 100vh;
  background-color: #03839e;
  color: #f8f8f8;
}

.icon-menu {
  height: 48px;
  width: 48px;
  background-image: url(../../images/mobile/menu_icon.png);
  background-repeat: no-repeat;
  background-position: center;
}
