.page {
  font-family: 'Manrope', sans-serif;
  color: $c-light-grey;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  scroll-behavior: smooth;
  background-color: $c-white;

  &__body {
    margin: 0 auto;
    // margin: 0;
    // max-width: 1440px;
  }
}
