.questions {
  position: relative;

  @include onTablet {
    margin-top: 103px;
    @include pageGrid;
  }

  @include onDesktop {
    margin-top: 200px;
  }

  &__title {
    padding-top: 45px;
    color: #000;

    @include onTablet {
      margin: 0;
      padding-top: 17px;
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 5;
      padding-top: 42px;
    }
  }

  &__ways {
    color: #000;

    @include onTablet {
      grid-column: 1 / 5;
    }
  }

  &__rect {
    display: block;
    position: absolute;
    left: -$padding-inline-mobile;
    z-index: -1;
    border-left: 100vw solid $c-light-yellow;
    border-bottom: 70px solid transparent;
    height: 1002px;

    @include onTablet {
      left: -$padding-inline-tablet;
      height: 552px;
      border-bottom: 80px solid transparent;
    }

    @include onDesktop {
      height: 567px;
      border-left: 90vw solid $c-light-yellow;
      border-bottom: 180px solid transparent;
      left: -$padding-inline-desktop;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-image: url(../images/desktop/round-decor.png);
      background-repeat: no-repeat;
      box-sizing: border-box;
      height: 170px;
      width: 160px;
      transform: translate(50%, -50%) rotate(0deg);
      animation: circle 30s linear infinite;

      @keyframes circle {
        0% {
          transform: translate(50%, -50%) rotate(0deg);
        }

        100% {
          transform: translate(50%, -50%) rotate(360deg);
        }
      }
    }
  }

  &__form {
    margin-top: 40px;
    font-size: 24px;
    line-height: 36px;
    color: #000;

    @include onTablet {
      grid-column: 1 / 4;
      margin-top: 30px;
    }

    @include onDesktop {
      grid-column: 1 / 5;
    }
  }

  &__info {
    @include onTablet {
      margin-top: -14px;
      grid-column: 5 / -1;
    }

    @include onDesktop {
      grid-column: 7 / 10;
    }
  }

  &__input {
    margin-top: 20px;
    padding-bottom: 4px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    font-family: 'Manrope', sans-serif;
    color: $c-light-grey;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &:not(:placeholder-shown):valid:focus {
      color: $c-light-grey;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      background-color: transparent;
    }

    &:not(:placeholder-shown):invalid:focus {
      color: $c-red;
      outline: $c-red;
      border-bottom: 1px solid $c-red;
    }
  }

  &__message {
    width: 100%;
    background-color: $c-yellow;
    font-family: 'Manrope', sans-serif;
    color: $c-light-grey;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__submit-button {
    @include buy-now-button;
    width: 100%;
    margin-top: 30px;
    background-color: $c-turquoise;
    color: #fff;

    &::after {
      content: url(../images/mobile/arrow-white.png);
    }

    @include onTablet {
      grid-column-start: span 2;
      width: 220px;
      margin-top: 40px;
      @include hover(transform, scale(1.05));
    }
  }

  &__point-title:first-of-type {
    margin-top: 56px;

    @include onTablet {
      margin-top: 0;
    }
  }

  &__point-title {
    margin-top: 34px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    opacity: 39%;

    @include onTablet {
      margin-top: 20px;
    }
  }

  &__details {
    margin-top: 5px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 500000s, color 0s 500000s;
}

