.section-title {
  margin: 0;
  margin-bottom: 25px;
  font-family: $font-bebas;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  color: $c-grey;

  @include onTablet {
    margin-bottom: 42px;
  }

  @include onDesktop {
    margin-bottom: 34px;
  }
}
