.section-title {
  font-family: $font-bebas;
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  color: $c-grey;
  letter-spacing: 0.15em;

  @include onTablet {
    grid-column: span 2;
  }
}

.point-article {
  grid-column: 1 / -1;

  @include onTablet {
    @include pageGrid;
  }

  &--2 {
    @include onTablet {
      margin-top: 124px;
    }

    @include onDesktop {
      margin-top: 307px;
      display: flex;
      flex-direction: column;
    }
  }

  &--3 {
    @include onTablet {
      margin-top: 197px;
    }
    
    @include onDesktop {
      margin-top: 202px;
      @include smallGrid;
    }
  }
}
