$c-turquoise: #03839e;
$c-white: #F8F8F8;
$c-grey: #333;
$c-yellow: #ffe339;
$c-black: #121212;
$c-light-grey: #4f4f4f;

$font-bebas: 'Bebas Neue', sans-serif;

$tablet-min-width: 576px;
$desktop-min-width: 1200px;
